:root {
  --primary_green: #004c0e;
  --filling_green: #d6fffe;
  --filling_green_dark: #00aa9a;
  --border_radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary_green);
  background-image: url(./imgs/BACKGROUND.png);
  text-transform: uppercase;
  text-align: center;
  background-position: top;
  background-size: fill;
  position: relative;
}

.heading_main {
  padding: 50px;
}

.parent_container {
  width: 326px;
  height: 414px;
  background-color: var(--filling_green);
  border-radius: var(--border_radius);
  border: 4px solid var(--primary_green);
  position: absolute;
  transform: translate(40vw, 1vh);
}
